workflow-templates/newsletter-engine.json
{
  "meta": {
    "templateId": "newsletter-engine",
    "templateName": "Newsletter Engine IA",
    "description": "Generation automatique de newsletters personnalisees avec IA",
    "category": "marketing",
    "tier": "business",
    "variables": [
      "CLIENT_NAME",
      "CLIENT_SLUG",
      "BREVO_API_KEY",
      "SENDER_EMAIL",
      "SENDER_NAME",
      "BRAND_TONE",
      "SUPABASE_SCHEMA"
    ]
  },
  "name": "{{CLIENT_NAME}} - Newsletter Engine",
  "nodes": [
    {
      "id": "trigger-weekly",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 9}]
        }
      }
    },
    {
      "id": "webhook-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "parameters": {
        "path": "{{CLIENT_SLUG}}-newsletter-trigger",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "fetch-content",
      "name": "Fetch Recent Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 400],
      "parameters": {
        "method": "GET",
        "url": "https://{{SUPABASE_HOST}}/rest/v1/{{SUPABASE_SCHEMA}}_content?type=eq.blog_article&status=eq.published&order=created_at.desc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "{{SUPABASE_ANON_KEY}}"},
            {"name": "Authorization", "value": "Bearer {{SUPABASE_ANON_KEY}}"}
          ]
        }
      }
    },
    {
      "id": "fetch-subscribers",
      "name": "Fetch Active Subscribers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 600],
      "parameters": {
        "method": "GET",
        "url": "https://{{SUPABASE_HOST}}/rest/v1/{{SUPABASE_SCHEMA}}_subscribers?status=eq.active&select=email,name,preferences",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "{{SUPABASE_ANON_KEY}}"},
            {"name": "Authorization", "value": "Bearer {{SUPABASE_ANON_KEY}}"}
          ]
        }
      }
    },
    {
      "id": "prepare-newsletter-prompt",
      "name": "Prepare Newsletter Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "parameters": {
        "jsCode": "const content = $('Fetch Recent Content').first().json || [];\nconst subscriberCount = ($('Fetch Active Subscribers').first().json || []).length;\n\nconst articles = content.map(c => `- ${c.title}: ${c.content?.substring(0, 200)}...`).join('\\n');\n\nconst systemPrompt = `Tu es le redacteur de la newsletter de {{CLIENT_NAME}}.\nTon: {{BRAND_TONE}}\n\nCree une newsletter engageante avec:\n1. Un titre accrocheur\n2. Une intro personnalisee\n3. Resume des articles recents\n4. Un CTA clair\n\nFormat HTML simple, responsive.`;\n\nconst userPrompt = `Cree la newsletter de cette semaine.\\n\\nARTICLES RECENTS:\\n${articles}\\n\\nNOMBRE D'ABONNES: ${subscriberCount}`;\n\nconst claudeBody = {\n  model: 'claude-sonnet-4-5-20250929',\n  max_tokens: 2000,\n  messages: [{ role: 'user', content: userPrompt }],\n  system: systemPrompt\n};\n\nreturn { claudeBody: JSON.stringify(claudeBody), subscriberCount };"
      }
    },
    {
      "id": "claude-generate-newsletter",
      "name": "Claude - Generate Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.claudeBody }}"
      }
    },
    {
      "id": "parse-newsletter",
      "name": "Parse Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst htmlContent = response.content[0].text;\n\n// Extract subject from first h1 or generate one\nconst subjectMatch = htmlContent.match(/<h1[^>]*>([^<]+)<\\/h1>/i);\nconst subject = subjectMatch ? subjectMatch[1] : `Newsletter {{CLIENT_NAME}} - ${new Date().toLocaleDateString('fr-FR')}`;\n\nreturn { subject, htmlContent };"
      }
    },
    {
      "id": "send-brevo",
      "name": "Send via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/emailCampaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "api-key", "value": "{{BREVO_API_KEY}}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'Newsletter ' + new Date().toISOString().split('T')[0], subject: $json.subject, sender: { name: '{{SENDER_NAME}}', email: '{{SENDER_EMAIL}}' }, htmlContent: $json.htmlContent, recipients: { listIds: [1] }, scheduledAt: new Date(Date.now() + 3600000).toISOString() }) }}"
      }
    },
    {
      "id": "log-campaign",
      "name": "Log Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400],
      "parameters": {
        "method": "POST",
        "url": "https://{{SUPABASE_HOST}}/rest/v1/{{SUPABASE_SCHEMA}}_content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "{{SUPABASE_SERVICE_KEY}}"},
            {"name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_KEY}}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'newsletter', title: $('Parse Newsletter').first().json.subject, content: $('Parse Newsletter').first().json.htmlContent, status: 'published', metadata: { brevo_campaign_id: $json.id } }) }}"
      }
    }
  ],
  "connections": {
    "Weekly Trigger": {"main": [[{"node": "Fetch Recent Content", "type": "main", "index": 0}]]},
    "Manual Trigger": {"main": [[{"node": "Fetch Recent Content", "type": "main", "index": 0}]]},
    "Fetch Recent Content": {"main": [[{"node": "Prepare Newsletter Prompt", "type": "main", "index": 0}]]},
    "Fetch Active Subscribers": {"main": [[{"node": "Prepare Newsletter Prompt", "type": "main", "index": 0}]]},
    "Prepare Newsletter Prompt": {"main": [[{"node": "Claude - Generate Newsletter", "type": "main", "index": 0}]]},
    "Claude - Generate Newsletter": {"main": [[{"node": "Parse Newsletter", "type": "main", "index": 0}]]},
    "Parse Newsletter": {"main": [[{"node": "Send via Brevo", "type": "main", "index": 0}]]},
    "Send via Brevo": {"main": [[{"node": "Log Campaign", "type": "main", "index": 0}]]}
  }
}
